{% extends 'base.html.twig' %}

{% block title %}Nouveau Don{% endblock %}

{% block body %}
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Nouveau don</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Nouveau don</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container mt-4">
        <h1>Faire un nouveau don</h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label == 'error' ? 'danger' : label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {% if form.compagnies is defined %}
                        {{ form_row(form.compagnies) }}
                    {% endif %}
                    {{ form_row(form.type_don) }}
                    {{ form_row(form.montant) }}
                    {{ form_row(form.description_materiel) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.mode_paiement) }}
                    {{ form_row(form.preuve_don) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('app_don_index') }}" class="btn btn-secondary">Retour à la liste</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
