{% extends 'base.html.twig' %}

{% block title %}Rapports Médicaux{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/themes/material_blue.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/l10n/fr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
{% endblock %}

{% block body %}


<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 bold text-white mb-3"> Dashboard {{patient.nom}} {{patient.prenom}} </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="{{ path('app_home') }}">Accueil</a></li>
                <li class="breadcrumb-item text-primary active">statistique  traitement</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container py-5">
   
</div>



{% endblock %}
