{{ form_start(form, {
    'attr': {
        'id': 'edit-rapport-form'
    },
    'action': path('app_medecin_edit_rapport', {'id': rapport.id}),
    'method': 'POST'
}) }}
<div class="modal-content">
    <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">
            <i class="fas fa-edit me-2"></i>
            Modifier le Rapport Médical
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {{ form_errors(form) }}
        
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.dateRapport, {
                    'label': 'Date',
                    'attr': {
                        'class': 'form-control datepicker',
                        'required': true
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.age, {
                    'label': 'Âge',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'min': '0',
                        'required': true
                    }
                }) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.sexe, {
                    'label': 'Sexe',
                    'attr': {
                        'class': 'form-select',
                        'required': true
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.tensionArterielle, {
                    'label': 'Tension Artérielle',
                    'attr': {
                        'class': 'form-control',
                        'required': true
                    }
                }) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.pouls, {
                    'label': 'Pouls',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'min': '0',
                        'required': true
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.temperature, {
                    'label': 'Température',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'step': '0.1',
                        'required': true
                    }
                }) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.saturationOxygene, {
                    'label': 'Saturation en oxygène',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'min': '0',
                        'max': '100',
                        'required': true
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.imc, {
                    'label': 'IMC',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'step': '0.01',
                        'required': true
                    }
                }) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.niveauDouleur, {
                    'label': 'Niveau de douleur',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'min': '0',
                        'max': '10',
                        'required': true
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.traitement, {
                    'label': 'Traitement',
                    'attr': {
                        'class': 'form-select',
                        'required': true
                    }
                }) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.doseMedicament, {
                    'label': 'Dose du médicament',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'min': '0',
                        'required': true
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.frequenceTraitement, {
                    'label': 'Fréquence du traitement',
                    'attr': {
                        'class': 'form-select',
                        'required': true
                    }
                }) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.perteDeSang, {
                    'label': 'Perte de sang (ml)',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'min': '0',
                        'required': true
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.tempsOperation, {
                    'label': 'Temps opération (min)',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'min': '0',
                        'required': true
                    }
                }) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.dureeSeance, {
                    'label': 'Durée séance (min)',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'min': '0',
                        'required': true
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.filtrationSang, {
                    'label': 'Filtration sang (%)',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'min': '0',
                        'max': '100',
                        'required': true
                    }
                }) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.creatinine, {
                    'label': 'Créatinine',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'step': '0.01',
                        'required': true
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.scoreGlasgow, {
                    'label': 'Score Glasgow',
                    'attr': {
                        'class': 'form-control',
                        'type': 'number',
                        'min': '3',
                        'max': '15',
                        'required': true
                    }
                }) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                {{ form_row(form.respirationAssistee, {
                    'label': 'Respiration assistée',
                    'attr': {
                        'class': 'form-check-input'
                    }
                }) }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                {{ form_row(form.complications, {
                    'label': 'Complications',
                    'attr': {
                        'class': 'form-control',
                        'rows': 3
                    }
                }) }}
            </div>
        </div>

        {{ form_rest(form) }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="fas fa-times me-2"></i>Annuler
        </button>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save me-2"></i>Enregistrer
        </button>
    </div>
</div>
{{ form_end(form) }}
