{% extends 'base.html.twig' %}

{% block title %}Modifier Compagnie{% endblock %}

{% block body %}
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Créer une nouvelle Compagnie</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Nouveau Compagnie/li>
                </ol>
            </nav>
        </div>
    </div>


      <div class="container-xxl py-5">
    <div class="container mt-4">
        <h1>Modifier la Compagnie</h1>

        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.nom) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.tel) }}
                    {{ form_row(form.adresse) }}
                    {{ form_row(form.site_web) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.siret) }}
                    {{ form_row(form.statut_juridique) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.logo) }}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('app_compagnie_index') }}" class="btn btn-secondary">Retour à la liste</a>
        {{ form_end(form) }}

        {{ include('compagnie/_delete_form.html.twig') }}
    </div>
{% endblock %}
